@using WebApplication3.Models.Entity
@model List<Üye>
@{
    ViewBag.Title = "Index";
}

<h2>Üyeler</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Telefon</th>

    </tr>
    @foreach (var uye in Model)
    {
<tr>
    <td>@uye.ID</td>
    <td>@uye.AD</td>
    <td>@uye.SOYAD</td>
    <td>@uye.TELEFON</td>

</tr>
    }
</table>
<a class="btn btn-primary" href="/Uye/UyeEkle/">Yeni Üye Ekle</a>